*
!.gitignore
!*/
!**/**/*.py
!**/**/*.gp
!**/**/*.ipynb
notebooks/.ipynb_checkpoints/*
!README*
!LICENSE
!requirements.txt
!Dockerfile
!**/**/*.sh
!gates2.csv
!gates.csv
!results/sbol/genbank.zip
!results/sbol/fasta.zip
!results/sbol/*.xml